<div id="profiles">
ABOUT US!
  <p>
    <div id="andy">
      <%=image_tag "andy.jpg" %>
    </div>

    Andy Strunk has 15 years of experience focused on the healthcare and life sciences industries.  He was responsible for framing SaaS-based solutions and delivering sales enablement in the HLS industry group at Salesforce.com.  Prior to Salesforce, Mr. Strunk was Program Director of the Wolters Kluwer Health Innovation Lab (UpToDate, Lexicomp, ProVation, Health Language).  There, he led the creation and launch of a mobile clinical decision support software and services product to reduce bloodstream poisoning (sepsis), leveraging his product management, marketing, business development and sales expertise.  His formal introduction to healthcare IT started while a member of the Stanford Hospital and Clinics Epic team.  In addition to leading the Health 2.0 San Francisco chapter, he is a member of the Healthcare Committee at the Bay Area Council. He earned a BA in International Relations and an MBA in Entrepreneurial Management from the University of Wisconsin - Madison.
  </p>
  <p>
    LinkedIn: https://www.linkedin.com/in/andystrunk
    Twitter: ajstrunk
  </p>
</div>