<div id="events">
<h1>EVENTS</h1>
  <ul>
    <li><a href="https://www.eventbrite.com/e/january-chapter-meeting-health-20-san-francisco-tickets-18908262121"><h2>January: Janet Widmann of Blue Shield and Rock Health</h2></a></li>
    <li><a href="https://www.eventbrite.com/e/february-chapter-meeting-health-20-san-francisco-tickets-18908293214"><h2>February: Grace Hwang of IDEO</h2></a></li>
    <li><a href="https://www.eventbrite.com/e/march-chapter-meeting-health-20-san-francisco-tickets-18908325310"><h2>March: Jordan Shlain of HealthLoop</h2></a></li>
  </ul>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
    <ul>
    <ul>
      <li><a href="/about">About</a></li>
    </ul>
  <nav>
</div>