<div class="container">
  <h1>Privacy Policy</h1>
  <br>
  <div class="privacy">

    <strong>HEALTH 2.0 San Francisco PRIVACY POLICY</strong>
    <br>
    <br>
    Health 2.0 San Francisco – a member of Health 2.0 Advocates Inc., a 501(c)(3) nonprofit – (“Sponsor”, “we”, “our”, or “us”) respects the privacy needs and concerns of our customers and community. This Privacy Policy describes the personal information, such as your name, address, email address or phone number (“Personal Information”) we gather about you, what we do with it, the safeguards we have in place to protect it, and how you can control our use of it. By using the health2sf.com (the “Website”), the user agrees, without limitation or qualification, to be bound by this Privacy Policy.  When you provide Personal Information to the Website, you are consenting to the manner in which we will collect, use, disclose and otherwise manage your Personal Information, as set out below.
    <br>
    <br>
    <strong>Who May Use the Website.</strong>
    <br>
    <br>
    The Websites is not intended or designed to attract users under the age of 18. We do not collect Personal Information from any person we know to be under the age of 18. If you are under 18, we ask that you not send us any Personal Information.  The Website is intended for users from the United States and those not governed by privacy policies of other countries. Users from the European Union are advised not to disclose Personal Information to us. Do not send us information unless you consent to the application of United States law to the use and disclosure of your information consistent with this Privacy Policy.
    <br>
    <br>
    <strong>Collection and Use of Personal Information.</strong>
    <br>
    <br>
    We may collect Personal Information that you provide us when you:
    <ul>
      <li>Subscribe to receive newsletters and chapter updates</li>
      <li>Purchase, order, return, exchange or request certain information about our products and services including events</li>
      <li>Contact a customer service</li>
      <li>Visit or register for an account on the Website</li>
      <li>Enter into any contest or sweepstakes or respond to one of our surveys</li>
      <li>Provide us with comments or suggestions</li>
      <li>Answer one of our surveys</li>
      <li>Register for an event</li>
    </ul>
    The Personal Information required to be provided with respect to the above enables us to process the relevant transaction, task or service, to verify your identity as required.
    <br>
    <br>
    <strong>Other Uses of Personal Information.</strong>
    <br>
    <br>
    We may also use Personal Information to continually assess and improve the products and services we offer, including events. To serve you better, we may combine the Personal Information that you give us with publicly available information and information we receive from or cross-reference with our marketing partners and others. We use that combined information to enhance and personalize your shopping experience with us, to communicate with you about our products and events that may be of interest to you, and for other promotional purposes.
    <br>
    <br>
    <strong>Promotional Information and Marketing Materials.</strong>
    <br>
    <br>
    We would like to inform you of products and services, sales, events, and special offers that might benefit you. When you register online, register for an event, or participate in a survey, you will have the opportunity to sign up for e-mails about our products, services, sales and special offers. We may also send you mail, email or call you with information about our events, products and service offerings if you have provided us with your name and address, email address or phone numbers via the Websites, through customer service or via other means. If you would like to stop receiving such promotional information from us, please see the “Privacy Preferences/Opt-Out” section of this Privacy Policy.
    <br>
    <br>
    <strong>Disclosure of Personal Information.</strong>
    <br>
    <br>
    We may enter into marketing relationships with advertisers or other companies that provide products or services that we believe may be of interest to our customers. We may share your Personal Information with those marketing partners in order to help them send you information that we believe will be of interest to you. We may share non-identifiable aggregated information with these companies. We will not disclose your telephone number, credit card account information or e-mail address for these purposes.
    <br>
    <br>
    <strong>Access to Personal Information by Companies that Work with Us or On Our Behalf.</strong>
    <br>
    <br>
    Some of our operations, such as our electronic commerce, may be managed by are unaffiliated companies or service providers. We may share Personal Information with these companies or services providers on a confidential basis only to the extent necessary to perform their functions. In no event will we authorize these companies to use your Personal Information for any reason other than to provide you with those specific services. If your purchases are being shipped to you, your shipping information will be shared with our delivery service providers (U.S. Postal Service, UPS, or other delivery companies we or you select). Our delivery service providers are asked not to use your Personal Information for any purpose other than making the delivery.
    <br>
    <br>
    <strong>Sale of Business.</strong>
    <br>
    <br>
    In the event that we or some of our assets are sold or transferred or used as security, your Personal Information may be transferred to third parties as part of that transaction.
    <br>
    <br>
    <strong>Disclosures of Personal Information in Legal Proceedings.</strong>
    <br>
    <br>
    If we are requested by law enforcement officials or judicial authorities to provide Personal Information on individual users, we may, without your consent, provide such information. In matters involving claims of personal or public safety, we may provide your Personal Information to appropriate authorities without your consent or court process. We also will provide your Personal Information in response to a search warrant or other legally valid inquiry or order, or to an investigative body in the case of a breach of an agreement or contravention of law, or in litigation involving us or otherwise as required by law. We may also disclose Personal Information to assist in debt collection where you owe a debt to us.
    <br>
    <br>
    <strong>Access to Personal Information.</strong>
    <br>
    <br>
    You may request access to the Personal Information that we have about you. For further instructions on accessing the Personal Information that we may have about you, please see the “Contacting Us” section of this Privacy Policy.
    <br>
    <br>
    <strong>Privacy Preferences / Opt-Out.</strong>
    <br>
    <br>
    You may opt out of our use of your Personal Information for marketing or promotional activities.  For further instructions on opting out, please see the “Contacting Us” section of this Privacy Policy.
    <br>
    <br>
    <strong>Information Sharing Disclosure Requests.</strong>
    <br>
    <br>
    If you are a California resident, you have the right to request one Notice of Information-Sharing Disclosure per year which will identify the third parties with whom we or any of our affiliates has shared the Personal Information we have collected from you. You may request the Notice of Information-Sharing Disclosure by contacting pursuant to the “Contacting Us” section of this Privacy Policy.
    <br>
    <br>
    <strong>Visiting the Website.</strong>
    <br>
    <br>
    In general, you can visit the Website without telling us who you are or providing us with any information. However, we may collect the IP (Internet protocol) addresses of all visitors to the Website and other related information such as page requests, browser type, operating system and average time spent on the Website. We use this information to monitor and improve the Website.
    <br>
    <br>
    <strong>Cookies and Tracer Tags.</strong>
    <br>
    <br>
    The Website may use a technology called “cookies”. A cookie is a tiny element of data that a website can send to your browser, which may then be stored on your hard drive so the website can recognize you when you return. If used, cookies may help us monitor and improve our the performance of the Website and our advertising on other websites, if any.  Cookies may also help optimize your shopping experience in that they allow you to add multiple items to your shopping basket before checking out. You may set your web browser to notify you when you receive a cookie. However, should you decide not to accept cookies, you may limit the functionality of certain websites.  The Website may also use a technology called “tracer tags”. These may also be referred to as “Clear GIFs” or “Web Beacons”. If used, this technology may allow us to understand which pages you visit on the Website. These tracer tags are used to help us optimize and tailor websites to future website visitors.
    <br>
    <br>
    <strong>Security of Personal Information</strong>
    <br>
    <br>
    We maintain administrative, technical and physical safeguards to protect against unauthorized access, use, modification and disclosure of Personal Information in our custody and control. We also are committed to employing reasonable technology in order to protect the security of the Website. However, even with the best technology, no website is 100% secure. We will take reasonable measures which we believe are appropriate to protect your Personal Information from loss, misuse, alteration or destruction, and, where possible, will ask that any third parties to whom we may transfer such information to take comparable steps to protect that security.
    <br>
    <br>
    <strong>Secure Shopping</strong>
    <br>
    <br>
    When you place orders on the Website, all of your order information, including your card number and delivery address, is transmitted through the Internet using Secure Sockets Layer (SSL) technology. SSL technology causes your browser to encrypt your order information before transmitting it to our secure server. SSL technology, an industry standard, is designed to prevent someone other than operators of the Website from capturing and viewing your Personal Information. Since any order information you provide to us on the Website will be transmitted using a secure connection, if your Web browser cannot support this level of security, you will not be able to order products through the Website.
    <br>
    <br>
    <strong>Passwords</strong>
    <br>
    <br>
    To provide you with an increased level of security, online access to your Personal Information is protected with a password you select. We strongly recommend that you do not disclose your password to anyone. We will never ask you for your password in any unsolicited communication (including unsolicited correspondence such as letters, phone calls or e-mail messages).
    <br>
    <br>
    <strong>Privacy Policy Modifications</strong>
    <br>
    <br>
    From time to time we may modify or amend this Privacy Policy in order to comply with new laws or regulations or to reflect future changes in our business practices. Any changes in our policies will be communicated in this page so please check back on occasion.
    <br>
    <br>
    <strong>Contact Us.</strong>
    <br>
    <br>
    If you have any questions about our handling of Personal Information, please contact us by email info@health2sf.com.
    <br>
    <br>
    Last Updated:  August 15, 2016
    <br>
    <br>
    Copyright © 2016 Health 2.0 San Francisco, Member of Health 2.0 Advocates Inc, a 501(c)(3) nonprofit All rights reserved
    <br>
    <br>
  </div>
</div>
