// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.modal {
  display: none;
  position: fixed;
  top: 110px;
  bottom: 30px;
  right: 0;
  left: 0;
  margin: 0 auto!important;
  background-color: #fff;
  max-width: 600px;
  max-height: 250px;
  overflow-y: scroll;
  padding: 50px 40px 50px 35px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 2px solid #eaeaea;
  z-index: 100;
  text-align: center;
 }

 .modal-mask {
  display: none;
  z-index: 99;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgba(0,0,0,.5);
  top: 0;
  left: 0;
}

 .modal-close-outer {
  position: absolute;
  right: 25px;
  top: 20px;
}

 .modal-close {
  text-decoration: none;
  color: #B9B9B9;
  position: fixed;
  cursor: pointer;
}

@media (max-width: 767px) {
  .modal {
    max-width: 76%;
    padding: 30px 7%!important;
  }
}

#aboutus {
  h4.standard-case {
    text-transform: none;
  }
  .pillarcenter {
    margin: 0 auto;
    width: 750px;
    .pillar {
      background: #F6F9FA;
      height: 130px;
      width: 200px;
      border-radius: 10px;
      float: left;
      margin: 10px;
      padding: 10px;
      transition: all .2s ease-in-out;
    }
    .pillar:hover {
      -webkit-transform: scale(1.1);
      -moz-transform:    scale(1.1);
      -o-transform:      scale(1.1);
      -ms-transform:     scale(1.1);
    }
  }
}

#events {
  a {
    border-bottom: none;
  }
  img {
    margin: 10px;
  }
  .no-wrap {
    white-space: nowrap;
  }
}

#team {
  a {
    border-bottom: none;
  }
  .span4 {
    position: relative;
    article {
      opacity: 0;
      transition: all .5s;
      background: #fcfcfc;
      position: absolute;
      height: 100%;
      width: 100%;
      overflow: scroll;
    }
  }

  .span4:hover article {
    opacity: 1;
    transform: translateY(0px);
  }
}

#team, #volunteer {
  img {
    height: 100px;
    width: auto;
    border-radius: 50%;
  }
}


#volunteer {
  .span4.i-block {
    margin: 0 auto;
    width: 100%;
    article {
      background: white;
      opacity: 0;
      height: 150px;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
    }
  }
}

@media screen and (max-width: 766px) {
  #volunteer {
    .span4.i-block {
      article {
        height: 155px;
      }
    }
  }
  #footer {
    font-size: 12px;
  }
  #home {
    h1 {
      font-size: 24px;
    }
  }
  #aboutus {
    .pillarcenter {
      width: 100%;
      .pillar {
        margin-left: 40px;
      }
    }
  }
  #team {
    article {
      font-size: 12px;
    }
  }
  #events {
    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
      display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    td {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%;
    }

    td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
    }
      /*
  	Label the data
  	*/
  	td:nth-of-type(1):before { content: "Date"; }
  	td:nth-of-type(2):before { content: "Speaker"; }
  	td:nth-of-type(3):before { content: "Demo Companies"; }
  	td:nth-of-type(4):before { content: "Description"; }
  	td:nth-of-type(5):before { content: "Registration"; }
  }
}
