// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main {
  width: 1024px;
  margin: auto;
  text-align: center;
  padding-top: 150px;
}

nav {
  margin: 0 auto;
}

ul {
  display: inline-block;
  list-style-type: none;
}

li {
  float: left;
  padding: 10px;
}

a {
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}