.user-border {
  margin: 5px;
  border: 1px dotted black;
  list-style-type: none;
}

.user-details {
  float: right;
  padding-top: 20px;
}

.user-link {
  // padding-bottom: 20px;
  margin-bottom: 10px;
}

.internal-logo {
  padding-top: 5px;
  float: right;
  opacity: 0.5;
}